        .card {
            border: none;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: white;
            color: black;
            text-align: center;
            font-weight: bold;
            font-size: 30px;
        }

        .btn-login {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-login:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        h2 {
            margin-bottom: 20px;
        }

        small {
            font-size: 12px;
            font-style: italic;
        }

        form {
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-check-inline {
            margin-right: 20px;
        }


        button {
            margin-top: 20px;
            background-color: #007bff;
            border: none;
            color: #fff;
            padding: 10px 20px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        #routineOutput {
            margin-top: 20px;
            padding: 10px; 
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            font-size: 12px;
        }

        /* Add borders and style to table */
        #routineOutput table {
            width: 100%;
            border-collapse: collapse; /* Collapse borders */
        }

        #routineOutput th,
        #routineOutput td {
            padding: 8px;
            border: 1px solid #ddd; /* Add borders */
            text-align: center; /* Center align text */
        }

        #routineOutput th {
            background-color: #f2f2f2; /* Add background color to header */
        }

        #selectedTeachers {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            height: 150px;
            overflow-y: auto;
        }